@import './styles/colors.scss';
@import './styles/button.scss';
@import './styles/input.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: $secondary-color;
  font-family: 'Bangers', cursive;
}

html, body {
  height: 100%;
}

body {
  background: $primary-color;
}
